.tarjetas-container{
  padding: 2rem;
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
}
.tarjetas-grid{
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 6.5rem;
  align-items: start;
}
.tarjetas-body-izq{
    display: flex;
    flex-direction: column;
}
.tarjetas-body-der{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.numero-tarjeta {
  text-align: left;
  background-color: var(--color-primary-light);
  color: var(--color-text-primary);
  border: none;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 600;
}

.vencimiento-tarjeta {
  text-align: left;
  background-color: var(--color-primary-light);
  color: var(--color-text-primary);
  border: none;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 600;
}
.codigo-tarjeta {
  text-align: left;
  background-color: var(--color-primary-light);
  color: var(--color-text-primary);
  border: none;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 600;
}
.tarjetas-descripcion {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-surface);
    border-radius: 8px;
    padding: 20px;    
}
.datos-tarjeta button{
  background-color: #f3f4f6;
  color: var(--color-text-body);
  border: none;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.tarjetas-opciones{
    display: flex;
    background-color: var(--color-bg-surface);
    margin-top: 20px;
    padding: 20px;
    border: 1px;
    border-color: var(--color-icon-muted);
    border-radius: 8px;
    }
.boton-pausar{
    padding-right: 20px;
}
.boton-pausar button{
  background-color: var(--color-bg-hover);
  color: var(--color-text-body);
  border: none;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;

}
.boton-borrar{
    background-color: var(--color-danger-bg);
    border-radius: 12px;
}
.boton-borrar button{
  color: var(--color-danger-text);
  border: none;
  background: transparent;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.card-historial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-surface);
    padding: 1.1rem 1.25rem;
    border-bottom: 1px solid var(--color-primary-light);
    border-radius: 8px;
    
}
.card-historial .monto{
    font-weight: 600;
    font-size: 0.95rem;
    color: var(--color-text-primary);
    background-color: var(--color-danger-bg);
    padding: 10px;
    border-radius: 8px;
}
.card-historial .fecha-consumo{
    font-weight: 600;
    font-size: 0.95rem;
    color: var(--color-text-primary);
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color-bg-hover)
}
.card-historial .lugar{
    font-weight: 600;
    font-size: 0.95rem;
    color: var(--color-text-primary);
    padding: 10px;
    background-color: var(--color-bg-hover);
    border-radius: 8px;
}